body 
{
    font-family: PokeGB;
    background-color: #DDDDDD;
}

@font-face {
  font-family: "PokeGB";
  src: url('Resources/Fonts/Pokemon GB.ttf') format("truetype");
}

#Stats
{
     display:block;
     margin:auto;
     width: 500px;
}

#PokeList
{
    list-style: none;
    padding-left:0;
    display: block; 
    margin: auto; 
    width: 500px;
}

.PokeEntry
{
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    background-color: white;
}

.PokeImage
{
    margin-left: 25px;
    height: 45px;
    width: 45px;
    background-size: 45px 45px;
    background-position: center;
    float:left;
}

.PokeInfo
{
    float:left;
    padding-left: 30px;
}

.PokeCatch
{
    margin-right: 15px;
    height: 45px;
    width: 45px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat:no-repeat;
    float: right;
}