@media (max-device-width: 500px) {

    body {
        font-size: 30px;
    }

    #Stats
    {
        width: 90%;
    }

    #PokeList {
        list-style: none;
        padding-left: 0;
        display: block;
        margin: auto;
        width: 90%;
    }

    .PokeEntry {
        margin-bottom: 10px;
        height: 140px;
        line-height: 140px;
        background-color: white;
    }

    .PokeImage {
        margin-left: 30px;
        height: 140px;
        width: 140px;
        background-size: 100px 100px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
    }

    .PokeInfo {
        float: left;
        padding-left: 30px;
    }

    .PokeCatch {
        margin-right: 15px;
        height: 140px;
        width: 140px;
        background-size: 65px 65px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
    }
}
