@media only screen and (min-width: 600px)
{
    .gameIcon
    {
      width:180px;
      margin-bottom: 10px;

      margin-left: 5px;
      margin-right: 5px;
    }

    .navBar
    {
      background-color: green;
      width: 550px;
    }
    .navButtonL
    {
      width: 100px;
      margin-right: 5px;
      font-size: 14px;
    }
    .navButtonR
    {
      width: 100px;
      margin-left: 5px;
      font-size: 14px;
    }
    .icon
    {
      height: 100px;
    }
}

@media only screen and (min-width: 769px)
{
  .navContainer
  {
	  height: 200px;
  }
  .navBar
  {
    background-color: red;
    width: 750px;
  }
  .navButtonL
  {
    width: 125px;
    margin-right: 25px;
    font-size: 16px;
  }
  .navButtonR
  {
    width: 125px;
    margin-left: 25px;
    font-size: 16px;
  }
  .icon
  {
    height: 120px;
  }

  .gameIcon
  {
    width:250px;
    margin-bottom: 10px;
  }
    h1
    {
      padding-left: 0px;
      width: 850px;
    }
}
