@media (max-width: 750px), (orientation: portrait) and (max-device-width: 480px)
{
  .icon
  {
    height: 50px;
  }

  .navBar
  {
    width: 450px;
  }

  .navButtonL
  {
    width: 80px;
    margin-right: 5px;
    font-size: 12px;
  }

  .navButtonR
  {
    width: 80px;
    margin-left: 5px;
    font-size: 12px;
  }

}
