@media only screen and (min-width: 600px)
{
  body
  {
    background-color: green;
  }
    .gameIcon
    {
      width:200px;
    }
}

@media only screen and (min-width: 769px)
{
  body
  {
    background-color: red;
  }

  .navBar
  {
    width: 750px;
  }
  .navButtonL
  {
    width: 125px;
    margin-right: 25px;
    font-size: 16px;
  }
  .navButtonR
  {
    width: 125px;
    margin-left: 25px;
    font-size: 16px;
  }
  .icon
  {
    height: 120px;
  }

  .gameIcon
  {
    width:250px;
  }
    h1
    {
      padding-left: 0px;
      width: 850px;
    }
}
