@media only screen and (max-width: 768px)
{
    header
    {
        height: 70px;
        /* line-height: 80px; */
        font-size: 2.2em;
        padding-top: 12px;
    }

    #feed
    {
        margin-top: 70px;
        width: 100%;
    }

    .post_author
    {
        font-size: larger;
    }

    .post_content
    {
        font-size: large;
    }

    .post_date
    {
        font-size: medium;
    }

    .profile_avatar
    {
        float:right;
        margin-top: -1px;
        margin-right: 10px;
        width: auto;
        height: 50px;
        border-radius: 50px;
    }

    #button_think
    {
        margin-top: 3px;
        margin-right: 20px;
        
        width: 120px;
        height: 40px;
        
        line-height: 40px;
    }
}