@media (max-device-width: 500px) {

    body {
        font-size: 28px;
    }

    #PokeList {
        list-style: none;
        padding-left: 0;
        display: block;
        margin: auto;
        width: 90%;
    }

    .PokeEntry {
        margin-bottom: 10px;
        height: 100px;
        line-height: 100px;
        background-color: white;
    }

    .PokeImage {
        margin-left: 40px;
        height: 100px;
        width: 100px;
        background-size: 75px 75px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
    }

    .PokeInfo {
        float: left;
        padding-left: 30px;
    }

    .PokeCatch {
        margin-right: 15px;
        height: 80px;
        width: 80px;
        background-size: 60px 60px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
    }
}
