@charset "utf-8";

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	background-color:#ECF0F1;
}

.logoText 
{
	line-height:76px;
	height:76px;
	font-size:8px;
	float:left;
	//background-color:red;
}

.searchText 
{
	line-height:76px;
	height:76px;
	font-size:12px;
	float:right;
	//background-color:blue;
	padding-right:10px;
	font-weight:normal;
}

.headerLR 
{
	width:76px;
	height:76px;
}

.navBar
{
	list-style:none;
	background-color:#0079ce;
	clear:both;
	height:25px;
	//border-top:#2C3E50 solid thin;
	//border-bottom:#2C3E50 solid thin;
	padding:0;
}

.navButtons
{
	border-right:#394F7D solid thin;
	width:100px;
	text-align:center;
	text-decoration:none;
	color:#EFEFEF;
	padding-left:10px;
	padding-right:10px;
	display:inline;
	height:25px;
	float:left;
	line-height:25px;
	//background-color:cyan;
}

#donateButton
{
	 float:right;
	 border-left:#7A2820 solid thin;
	 border-right:none;
	 background-color:#E74C3C;
}

.mainBody
{
	background-color:#FFF;
	border:#999 solid thin;
	clear:both;
	margin: 30px;
	min-height: 400px;
}
