/* @media only screen and (orientation: landscape) */

@media only screen and (max-width: 600px)
{
}

@media only screen and (max-width: 1000px)
{
    h1
    {
        font-size: 55px;
    }

    h2
    {
        font-size: 20px;
    }

    .top_break
    {
        height: 120px;
    }

    .card_projecticon
    {
        width: 340px;
    }
    
    .new_strip_box
    {
        width: 100%;
        text-align: center;
    }
    
    .new_text
    {
        width: auto;
    }

    .new_text_left
    {
        float: none;
    }
    
    .new_text_right
    {
        float: none;
    }

    .new_media_left
    {
        float: none;
    }
    .new_media_right
    {
        float: none;
    }
}