@media only screen and (max-width: 600px)
{
    .logo
    {
        width: 250px;
        margin: auto;
        display: block;
    }

    h1
    {
        margin: auto;
        display: block;
        text-align: center;
        font-size: 80px;
        line-height: 0.9em;
        margin-top: 30px;
    }

    .top_break
    {
        height: 100px;
    }

    .card_projecticon
    {
        width: 400px;
        display: block;
    
        border-radius: 6px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
}