/* 
22252a
2d3035
3d3f44
*/

html
{
    scroll-behavior: smooth;
}

body
{
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a
{
    text-decoration: none;
}

.background
{
    --background-color: #222;
    background-color: #22252a;
    background-image: url("resources/bg.png");
    background-size: 300px;
    background-attachment: fixed;
}

.top_break
{
    height: 200px;
}

.logo
{
    width: 200px;
    margin: auto;
    display: block;
}

.centered
{
    display: block;
    margin: auto;
    text-align: center;
}

.outline
{
    border-width: 4px;
    border-color: white;
    border-style: solid;
}

.rounded
{
    border-radius: 6px;
}

h1
{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 120px;
    line-height: 0.9em;
    margin-top: 30px;
}

h2
{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 1.0em;
    font-weight: normal;
}

h3
{
    text-align: center;
    font-size: 40px;
    margin: 20 20 15 20;
    --border-bottom: solid 3px #aeaeae;
}

.project_hotbar
{
    text-align: center;
    margin-top: 50px;
}

.project_hotbar_project
{
    text-align: center;
    margin: 5px;

    width: 50px;
    height: 50px;
}

em
{
    font-style: normal;
    color: #e74c3c;
}

.project_logo
{
    display: block;
    width: 400px;
    margin: auto;
    padding-top: 50px;
}

#padlock_container
{
    position: relative;
    width: 100px;
    left:400px
}

.padlock
{
    width: 100px;
}

#padlock_fill
{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 80% , 100% 80%, 100% 100%, 0% 100%);
}

@keyframes rotation {
    from {
        transform: rotate(-20deg);
    }
    to {
      transform: rotate(30deg);
    }
  }

#clefkeys
{
    position: relative;
    top:0;
    left:000px;
    height: 100px;
}

.clefkey
{
    height: 35px;

    animation: rotation 1s infinite alternate-reverse ease-in-out;
}

#clefkey1
{
    position: absolute;
    left: 200px;
    top: 0px;
}

#clefkey2
{
    position: absolute;
    left: 250px;
    top: 0px;
}

#clefkey3
{
    position: absolute;
    left: 300px;
    top: 0px;
}

#clefkey4
{
    position: absolute;
    left: 350px;
    top: 0px;
}

#clefkey5
{
    position: absolute;
    left: 400px;
    top: 0px;
}

#AboutMe
{
    background-color: #11111199;
    border-color: #FFFFFF;
}
#AboutMe em
{
    color: #e74c3c;
}


#RentalDerby
{
    background-color: #32190299;
    border-color: #ffbc00;
}
#RentalDerby em
{
    color: #d86c04;
}


#SoundWave
{
    background-color: #1a173e99;
    border-color: #b800ff;
}
#SoundWave em
{
    color: #cf00ff;
}

#LIsReal
{
    background-color: #142a1499;
    border-color: #10af10;
}
#LIsReal em
{
    color: #10af10;
}

#LifeLynk
{
    background-color: #11111199;
    border-color: #CCCCCC;
}
#LifeLynk em
{
    color: #fe2000;
}

#ForgeEngine
{
    background-color: #20222e99;
    border-color: #3f4359;
}
#ForgeEngine em
{
    color: #ed9b40;
}

.strip
{
    scroll-margin-block-start: 120px;
    width: 100%;    
    border-top: 3px solid;
    border-bottom: 3px solid;
    height: auto;
    display: block;
    margin-bottom: 200px;
    
    background-color: #000000;
    border-color: #FFFFFF;
    
}
.strip:before,
.strip:after 
{
    content: " ";
    display: table;
}
.strip:after 
{ 
    clear: both; 
}
.strip 
{ 
    zoom: 1; 
}

.strip_box
{
    width: 100px;
    float: left;
    width: 50%;
    
    box-sizing: border-box;
    padding: 15px;

    text-align: right;
}

.strip_box_centered
{
    float: none;
	margin-left: auto;
	margin-right: auto;
}

.strip_box2
{
    text-align: left;
}

.media
{
    box-sizing: border-box;
    width: 480px;
    height: 270px;
    display: inline-block;
}
.media_left
{
    float: right;
    clear: both;
}
.media_right
{
    float: left;
    clear: both;
}

.text
{
    margin: 30px auto 30px auto;
    max-width: 450px;
    text-align: left;
}

.text_left
{
    float: right;
    clear: right;
}

.text_right
{
    float: left;
    clear: left;
}

.text_centered
{
    max-width: 850px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    margin-bottom: 5px;
}

.iframe_seemless
{
    border: 0px;
}

#gallery
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000AA;
}
#gallery_media
{
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    width: 90%;
    aspect-ratio: 16 / 9;
}

#video_container
{
    cursor: pointer;
}

#video_container:hover .youtube_hover
{
    /* transform: translate(50%,50%) scale(1.05); */
    filter: drop-shadow(4px 4px 3px rgb(0 0 0 / 0.4));
}

.youtube_thumbnail
{
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}

.youtube_hover
{
    width: 17%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    /* transform: translate(50%,50%) scale(1); */
    transform: translate(50%,50%);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
}

.media_video
{
    position: relative;
    overflow: hidden;
}

.download_group
{
    text-align: center;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.download_icon
{
    float:left;
    width: 40px;
}

.download_text
{
    float:left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin-left: 10px;
}

.download_section
{
    color: white;

    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;
}

.download_section a
{
    color: white;
}

.download_section a:link
{
    color: white;
}

.download_section a:visited
{
    color: white;
}

.download_section a:hover
{
    color: white;
}

.download_section a:active
{
    color: white;
}

.no_drag
{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}