/* 
22252a
2d3035
3d3f44
*/

html
{
    scroll-behavior: smooth;
}

body
{
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.background
{
    --background-color: #222;
    background-color: #22252a;
    background-image: url("resources/bg.png");
    background-size: 300px;
    background-attachment: fixed;
}

.top_break
{
    height: 200px;
}

.logo
{
    width: 200px;
    margin: auto;
    display: block;
}

.content
{
    min-width: none;
    max-width: 950px;
    margin: auto;
}

.strip
{
    position: relative;

    background-color: #fff;
    --background-color: #bfc7d4;
    --background-color: #54575e55;

    /* width: 100%; */
    margin: 0;

    padding-left: 300px;
    padding-right: 300px;
    
    scroll-margin-block-start: 120px;
}

.gallery_strip
{
    padding-top: 150px;
    padding-bottom: 150px;
}

.strip_text
{
    /* max-width: 600px; */
    line-height: 1.25em;
    margin-right: 55%;
}

.strip_text_right
{
    /* max-width: 600px; */
    line-height: 1.25em;
    margin-left: 55%;
    
    text-align: left;
}

.centered
{
    display: block;
    margin: auto;
    text-align: center;
}

.soundwave_strip_container
{
    width: 1300px;
    margin: auto;
}

/* .trailer_right_middle
{
    position: absolute;
    right: 300px;
    top: 50%;
    transform: translate(0%, -50%);
} */

.trailer_right
{
    position: absolute;
    right: 300px;
    top: 100px;
}

.trailer_left
{
    position: absolute;
    left: 300px;
}

.trailer_top
{
    top: 70px;
}

.trailer_bottom
{
    bottom: 30px;
}

.outline
{
    border-width: 4px;
    border-color: white;
    border-style: solid;
}

.rounded
{
    border-radius: 6px;
}

h1
{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 120px;
    line-height: 0.9em;
    margin-top: 30px;
}

h2
{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 1.0em;
    font-weight: normal;
}

h3
{
    text-align: center;
    font-size: 40px;
    margin: 20 20 15 20;
    --border-bottom: solid 3px #aeaeae;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;

    grid-gap:40px 40px;
    gap: 40px 40px;
    margin: 10 auto 10 auto;

    justify-content: center;
}

.gallery_card
{
    --background-color: #2d3035;
    --background-color: #22252a;

    --border-radius: 6px;
    --box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    display: block;
}

.card
{
    --background-color: #3a3a3a;
    background-color: #2d3035;
    border-radius: 6px;
    --box-shadow: 3px 3px #00000022;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    --border: 1px solid #00000055;
    
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.card_icon
{
    width: 80px;
    vertical-align: middle;
    float: left;
}

.card_projecticon
{
    width: 320px;
    display: block;

    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.card_text
{
    /* text-align: center; */
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* width: 50px; */
    /* display: inline; */
    /* vertical-align: top; */
    padding-left: 90px;
    padding-top: 0.6em;
    padding-bottom: 1.2em;
    display: block;
}

.card_text_header
{
    padding-left: 90px;
    padding-top: 1.0em;
    padding-bottom: 0.4em;
    display: block;
    font-weight: bold;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}

#large_card
{
    width: 500px;
    height: 400px;
}

#small_card
{
    width: 500px;
    height: 400px;
}

.project_hotbar
{
    text-align: center;
    margin-top: 50px;
}

.project_hotbar_project
{
    text-align: center;
    margin: 5px;

    width: 50px;
    height: 50px;
}

em
{
    font-style: normal;
    color: #e74c3c;
}

.project_logo
{
    display: block;
    width: 400px;
    margin: auto;
    padding-top: 50px;
}

/* L is Real */
#lisreal_strip
{
    background-color: #4a5462;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-color: green;
    border-width: 3px 0px 3px 0px;
    border-style: solid;

    height: 700px;
}

#lisreal_strip em
{
    color: #10af10;
}

/* Soundwave */

#soundwave_strip
{
    background-color: #1a173e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-color: #b800ff;
    border-width: 3px 0px 3px 0px;
    border-style: solid;

    height: 700px;
}

#soundwave_strip em
{
    color: #cf00ff;
}

#padlock_container
{
    position: relative;
    width: 100px;
    left:400px
}

.padlock
{
    width: 100px;
}

#padlock_fill
{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 80% , 100% 80%, 100% 100%, 0% 100%);
}

@keyframes rotation {
    from {
        transform: rotate(-20deg);
    }
    to {
      transform: rotate(30deg);
    }
  }

#clefkeys
{
    position: relative;
    top:0;
    left:000px;
    height: 100px;
}

.clefkey
{
    height: 35px;

    animation: rotation 1s infinite alternate-reverse ease-in-out;
}

#clefkey1
{
    position: absolute;
    left: 200px;
    top: 0px;
}

#clefkey2
{
    position: absolute;
    left: 250px;
    top: 0px;
}

#clefkey3
{
    position: absolute;
    left: 300px;
    top: 0px;
}

#clefkey4
{
    position: absolute;
    left: 350px;
    top: 0px;
}

#clefkey5
{
    position: absolute;
    left: 400px;
    top: 0px;
}

/* New */
#AboutMe
{
    background-color: #11111199;
    border-color: #FFFFFF;
}
#AboutMe em
{
    color: #e74c3c;
}


#RentalDerby
{
    background-color: #32190299;
    border-color: #ffbc00;
}
#RentalDerby em
{
    color: #d86c04;
}


#SoundWave
{
    background-color: #1a173e99;
    border-color: #b800ff;
}
#SoundWave em
{
    color: #cf00ff;
}

#LIsReal
{
    background-color: #142a1499;
    border-color: #10af10;
}
#LIsReal em
{
    color: #10af10;
}

#LifeLynk
{
    background-color: #11111199;
    border-color: #CCCCCC;
}
#LifeLynk em
{
    color: #fe2000;
}

#ForgeEngine
{
    background-color: #20222e99;
    border-color: #3f4359;
}
#ForgeEngine em
{
    color: #ed9b40;
}

.new_strip
{
    scroll-margin-block-start: 120px;
    /* scroll-padding-top: -100px; */

    width: 100%;    
    border-top: 3px solid;
    border-bottom: 3px solid;
    height: auto;
    /* overflow: auto; */
    display: block;
    margin-bottom: 200px;
    
    background-color: #000000;
    border-color: #FFFFFF;
    
}
.new_strip:before,
.new_strip:after 
{
    content: " ";
    display: table;
}
.new_strip:after 
{ 
    clear: both; 
}
.new_strip 
{ 
    zoom: 1; 
}

.new_strip_box
{
    width: 100px;
    /* background-color: #10af10; */
    float: left;
    width: 50%;
    
    box-sizing: border-box;
    padding: 15px;

    text-align: right;
}

.new_strip_box_centered
{
    float: none;
	margin-left: auto;
	margin-right: auto;
}

.new_strip_box2
{
    text-align: left;
    /* background-color: greenyellow; */
}

.new_media
{
    box-sizing: border-box;
    width: 480px;
    height: 270px;
}
.new_media_left
{
    float: right;
    clear: both;
}
.new_media_right
{
    float: left;
    clear: both;
}

.new_text
{
    margin: 30px auto 30px auto;
    max-width: 450px;
    text-align: left;
}

.new_text_left
{
    float: right;
    clear: right;
}

.new_text_right
{
    float: left;
    clear: left;
}

.new_text_centered
{
    max-width: 850px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    margin-bottom: 5px;
}

.iframe_seemless
{
    border: 0px;
}