
@media (max-width: 700px), (orientation: portrait) and (max-device-width: 480px)
{
    .paragraphL {
        margin-left: 10%;
        margin-right: 25%;
    }

    .paragraphR {
        margin-left: 25%;
        margin-right: 10%;
    }

    .paragraphC {
        margin-left: 22%;
        margin-right: 22%;
    }

    .logo
    {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align:center;
    }

    .projectLogo
    {
        width: 75%;
        text-align:center;
    }
}

@media (orientation: portrait) and (max-device-width: 480px)
{
    .paragraphL {
/*         font-size:16px;
		margin-top:100px;
		margin-bottom:100px;
        margin-right: 30%; */
		
		margin-top:150px;
		margin-bottom:250px;
		margin-left: 10%;
		margin-right: 10%;
		text-align:center;
}

    .paragraphR {
/*         font-size:16px;
		margin-top:100px;
		margin-bottom:100px;
        margin-left: 30%; */
		
		margin-top:150px;
		margin-bottom:250px;
		margin-left: 10%;
		margin-right: 10%;
		text-align:center;
    }

    .paragraphC {
        /* font-size:16px; */
		margin-top:100px;
		margin-bottom:250px;
		margin-left: 10%;
		margin-right: 10%;
	}
}
