@charset "utf-8";

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color:#2F2F2F;
}

.logo
{
	 text-align:center;
	 height:300px;
}

.mainBody
{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;

	
	background-color:#FFF;
	min-height: 500px;
	border-top:#BDBDBD solid thin;
	border-right:#BDBDBD solid thin;
	border-left:#7B7B7B solid thin;
	border-bottom:#7B7B7B solid thin;
	padding-left:90px;
	padding-right:90px;
	width:1000px;
	text-align:center;
}

.wideBody
{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;	
	background-image:url('Resources/Gallery/field.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:scroll;
	height: 500px;
	width:1080px;
	border-top:#BDBDBD solid thin;
	border-bottom:#7B7B7B solid thin;
	padding-left:50px;
	padding-right:50px;

}

.contactOutside
{
	clear:both;
	text-align:center;
	margin-top: 25px;
}

.footer
{
	margin-top: 25px;
	height:80px;
	background-color:#1e1c1d;
	border-top:#171616 solid thin;
	clear:both;
	color:white;
	font-size:12px;
	padding-right:10px;
	text-align:right;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}

.copyright
{	
	padding-top:50px;
	float:right;

}

.socialMedia
{	
	padding-left:10px;
	padding-top:20px;
	text-align:left;
	height:50%;
	float:left;
	display:inline-block;
	vertical-align: middle;
	text-decoration:none;

}

h1
{
	font-size:25px;
}

h2
{
	color:#e74c3c;
}

h3
{
	padding-left:15px;
	text-align:left;
}


a, img {
    border:none;
    outline:none;
    color:white;
}

.sideviewtoggle
{
	display:inline;
	width:56px;
	height:56px;
	color:white;
	background-color:#1e1c1d;
	font-size:35px;
	position:fixed;
	border:none;
	outline:none;
}

.sideviewtoggle:active
{
	background-color:#181617;
}

.mobileHeader
{
	display:inline;
	clear:both;
	height:56px;
	width:100%;
	position:fixed;
	background-color:#1e1c1d;
	border-bottom:#171616 solid thin;
	text-decoration:none;
}

.titleText
{
	//background-color:aqua;
	margin-left:55px;
	padding-left:45px;
	width:100px;
	height:56px;
	line-height:56px;
	background-image:url('Resources/Pokeball.png');
	background-position:left;
	background-repeat:no-repeat;
	background-size:40px;
	color: white;

}

.entryBlock
{
	list-style:none;
	padding:0;
	background-color:#121111;
}

.entry
{	
	height:35px;
	line-height:35px;
	color:#EFEFEF;
	background-color:#1e1c1d;
	margin-bottom:1px;
}

.entryBase
{
	float:left;
	margin-right:1%;
	padding-right:1%;
	padding-left:1%;
}

.entryType
{
	float:right;
	font-size:12px;
	text-align:center;
	height:35px;
	width:15px;

}

.entryImg
{
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	background-size: contain;
	height:35px;
	margin-left:1%;
}

.capture
{
	float:right;
	width:30px;
	height:35px;
	background-position:right;
	background-repeat:no-repeat;
	background-size: contain;

}
.spotted
{
	float:right;
	width:30px;
	height:35px;
	background-position:right;
	background-repeat:no-repeat;
	background-size: contain;

}