body
{
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    color: #e2e2e2;
    overflow: hidden;
}
:root { --sidebarSize: 300px; }

#sidebarButton:hover
{
    cursor: pointer;
}

#channelName
{
    font-size: 16px;
}

a
{
    color: #e2e2e2;
    text-decoration: none;
}

.relatedVideo
{
    height: 80px;
    padding-top: 20px;
    padding-right: 10px;
    font-size: 13px;
}

.relatedVideoThumbnail
{
    float: left;
    background-color: black;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
}

#mainContainer
{
    width:100%;
}

#leftSide
{
    position: absolute;
    right: var(--sidebarSize);
    width: calc(100% - var(--sidebarSize));
    height: calc((100vw - var(--sidebarSize)) * 0.565);
    max-height: calc(100vh - 50px);
}

#rightSide
{
    background-color: #121212;
    position: absolute;
    right: 0;
    width: var(--sidebarSize);
    height:100%;
    border-left: #777777 1px solid; 
}

.rightSideButton
{
    width:100%; /*temp. Should be 25%*/
    height: 100%;
    background: #eb1010;

    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

#videoBox
{
    background-color: black;
    height: calc((100vw - var(--sidebarSize)) * 0.565);
    max-height: calc(100vh - 50px);
}

.video
{
    height: 100%;
    width: 100%;
}

#channelInfo
{
    background-color: #121212;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    border-bottom: #232323 1px solid; 
    border-top:    #232323 1px solid; 
}

.watchLaterImg
{
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#videoInfo
{
    background-color: #121212;
    width:100%;
    min-height: 50px;
    height:calc(100vh - ((100vw - var(--sidebarSize)) * 0.565));
    overflow-y: auto;
}

#description
{
    padding: 15px;
    font-size: 13px;
    white-space: pre-line;
}

#rightHeader
{
    background-color: #232323;
    height: 50px;
}

#page-comments
{
    background-color: #121212;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}